<h4>Група @groupNumber</h4>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            @for (int time = 10; time <= 19; time++)
            {
                <th scope="col">@time - @(time+1)</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int day = 1; day <= 7; day++)
        {
            <tr>
                <th scope="row">@day</th>
                @for (int time = 10; time <= 19; time++)
                {
                    <td>
                        <BlackoutButton group="@groupNumber" day="@day" time="@time" />
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public int groupNumber { get; set; } = 1;

}