@using System.ComponentModel.DataAnnotations;
@using BlazorApp.DA


<div Color="ButtonColor.Dark" onclick="ApplicationButtonIsPressed" style="width: 100%">

    <table class=".innerBorders">
        <tr>
            <button id="applicationsSwapButton" @onclick="SwapButtonIsPressed">
                <td>
                    <Icon Name="IconName.ArrowDownUp" />
                </td>
            </button>
            <button id="applicationChooseButton" @onclick="ApplicationButtonIsPressed">
                <td>
                    <span>@(application.applicationScheduledTime + 10) - @(application.applicationScheduledTime +
                        11)</span>
                </td>
                @if (application is null)
                {
                    <td><span> РЕЗЕРВ</span></td>
                }
                else
                {
                    <td style="width: 3em">@application.id</td>
                    <td style="width: 3em">@application.districtName</td>
                    <td style="width: 20em">@application.streetName</td>
                    <td style="width: 4em">@application.building</td>
                }
            </button>

        </tr>

    </table>
</div>

<style>
    table {
        border-collapse: collapse;
    }

    td {
        border-right: 1pt solid black;
        padding-right: 5px;
    }
</style>


@code
{
    [Parameter] public ApplicationScheduled application { get; set; } = null;

    [Parameter] public EventCallback<int> applicationButtonIsPressed { get; set; }
    private async Task ApplicationButtonIsPressed()
    {
        await applicationButtonIsPressed.InvokeAsync(application.applicationScheduledTime);
    }

    [Parameter] public EventCallback<ApplicationScheduled> swapButtonIsPressed { get; set; }
    private async Task SwapButtonIsPressed()
    {
        await swapButtonIsPressed.InvokeAsync(application);
    }
}