@page "/applications"
@* @attribute [Authorize] *@
@rendermode InteractiveServer


@using ZAK.DA;
@using BlazorApp.Enums;
@using BlazorBootstrap;
@using Microsoft.AspNetCore.Authorization
@using ZAK.Components.Pages.ApplicationsPage.ApplicationInputComponents;
@using ZAK.Components.Pages.ApplicationsPage.ApplicationsActivities;

@using System.Diagnostics;
@inject IApplicationReporisory _applicationRepository;
@inject IWebHostEnvironment enviroment;

@inject ILogger<Applications> _logger;

<PageTitle>Заявки</PageTitle>


<ApplicationEditorModal @ref="applicationEditorModal" />



<Card class="my-3">
  <CardBody>
    <ApplicationsActivities />
    <Switch Label="Показувати тільки оновлені" @bind-Value="showUpdated" @bind-Value:after="Redraw" />
    <Switch Label="Показувати ігноровані" @bind-Value="showIgnored" Disabled="@showUpdated"
      @bind-Value:after="Redraw" />
  </CardBody>
</Card>

<Grid @ref="applicationsGrid" TItem="Application" Class="table table-hover table-bordered"
  DataProvider="ApplicationsDataProvider" AllowFiltering="true" AllowPaging="true" PageSize="100" AllowSorting="true"
  SelectionMode="GridSelectionMode.Multiple" Responsive="true">

  @*Id column with set of interactive components*@
  <GridColumn TItem="Application" HeaderText="№" PropertyName="id" SortKeySelector="item => item.id">
    <div>
      @context.id
      <Button @onclick="@(mouseArg => applicationEditorModal.ShowModal(context))">
        <Icon Name="IconName.Pencil" />
      </Button>
      <ApplicationWasChangedIcon application="@context" />
    </div>
    @*Interactive components in Id section ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*@
    <CheckBoxInputComponent label="Ігнорувати" applicationId="@context.id" propertyName="ignored"
      propertyValue="@(context.ignored)" />
    <CheckBoxInputComponent label="Важлива заявка" applicationId="@context.id" propertyName="important"
      propertyValue="@(context.important)" />

    <TimeframeApplicationComponent applicationId="@context.id" firstPart="@context.firstPart"
      secondPart="@context.secondPart" timeRangeIsSet="@context.timeRangeIsSet" startHour="@context.startHour"
      endHour="@context.endHour">
    </TimeframeApplicationComponent>
  </GridColumn>
  @*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*@

  @*Interactivity column*@
  <GridColumn TItem="Application" HeaderText="Параметри">

    <Switch Label="Цікавився статусом" @bind-Value="@context.statusWasChecked"
      @bind-Value:after="@(async () => await _applicationRepository.UpdateAsync(context))" />

    <Switch Label="Срочка" @bind-Value="@context.urgent"
      @bind-Value:after="@(async () => await _applicationRepository.UpdateAsync(context))" />

    <Switch Label="Є вільний кабель" @bind-Value="@context.freeCable"
      @bind-Value:after="@(async () => await _applicationRepository.UpdateAsync(context))" />

    <Switch Label="Зміна тарифу" @bind-Value="@context.tarChangeApp"
      @bind-Value:after="@(async () => await _applicationRepository.UpdateAsync(context))" />

    <hr>

    <InputDeadlineComponent applicationId="@context.id" daysForConnection="@context.maxDaysForConnection" />
  </GridColumn>

  @*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*@


  @*Column with name of the district 
  <GridColumn TItem="Application" HeaderText="Район" PropertyName="districtName" style="width: 5%;" TextAlignment="Alignment.Center"
    SortKeySelector="item => item.districtName">
    @context.districtName
  </GridColumn>
*@
  @*Column name with name of the street*@
  <GridColumn TItem="Application" HeaderText="Адреса" PropertyName="streetName"
    SortKeySelector="item => item.streetName" TextAlignment="Alignment.Center">
    <h6>@(context.districtName)</h6><br>
    @(context.representableAddress);
  </GridColumn>

  @*Column with stretching status ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*@
  <GridColumn style="width: 10%;" TItem="Application" HeaderText="Статус" PropertyName="stretchingStatus"
    SortKeySelector="item => item.stretchingStatus"
    ColumnClass="@(x => StretchingStatusComponent.GetStrechingStatusClass(x.stretchingStatus))">

    <StretchingStatusComponent applicationId="@context.id" stretchingStatus="@context.stretchingStatus" />
  </GridColumn>
  @*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*@

  @*Column for comments section*@
  <GridColumn TItem="Application" HeaderText="Коментар" PropertyName="operatorComment">
    <CommentComponent operatorComment="@context.operatorComment" masterComment="@context.masterComment">
    </CommentComponent>
  </GridColumn>

  @*Column for date*@
  <GridColumn TItem="Application" HeaderText="Дата" style="width: 15%;">
    <span>@context.year.@context.month.@context.day</span>
    <span>
      <h6>Дней к дедлайну: </h6> @context.daysToDeadline
    </span>
  </GridColumn>
</Grid>

@code {
  private bool showIgnored = true;

  ApplicationEditorModal applicationEditorModal = default!;
  private Grid<Application> applicationsGrid = default!;
  private bool showUpdated = false;

  public async Task Redraw()
  {
    _logger.LogInformation("Redrawing applications table");

    await applicationsGrid.RefreshDataAsync();
  }

  private async Task<GridDataProviderResult<Application>> ApplicationsDataProvider(
  GridDataProviderRequest<Application> request)
  {
    List<Application> applications;

    if (showUpdated)
    {
      applications = (await _applicationRepository.GetAllUpdatedAsync()).ToList();
    }
    else
    {
      if (showIgnored) applications = (await _applicationRepository.GetAllAsync()).ToList();
      else
      {
        applications = (await _applicationRepository.GetAllWithIgnoringAsync()).ToList();
      }
    }
    return await Task.FromResult(request.ApplyTo(applications));
  }



}
