@using MudBlazor

@rendermode InteractiveServer


<MudStack Spacing="2">

    <MudNumericField @bind-Value="@(application.id)" Label="Номер заявки" HideSpinButtons="true"  Variant="Variant.Outlined"  />

    <div>
        <MudCheckBox @bind-Value="@(application.important)">Важлива заявка</MudCheckBox>
        <MudCheckBox @bind-Value="@(application.statusWasChecked)">Цікавився статусом
        </MudCheckBox>
        <MudCheckBox @bind-Value="@(application.urgent)" >Срочка</MudCheckBox>
        <MudCheckBox @bind-Value="@(application.freeCable)">Є вільний кабель</MudCheckBox>
        <MudCheckBox @bind-Value="@(application.tarChangeApp)">Заявка на зміну тарифу
        </MudCheckBox>
    </div>

    <MudDatePicker Label="Дата додавання заявки" @bind-Date="_date" Variant="Variant.Outlined" />

    <ApplicationEditorAddressPicker application="application" addressChanged="AddressChanged" />

    <MudTextField T="string" Label="Коментар оператора" Lines="3" Variant="Variant.Outlined"
        @bind-Value="@application.operatorComment" />

    <Button @onclick="UpdateApplicationData">Підтвердити</Button>

</MudStack>

@code {

    [Parameter] public Application application { get; set; } = new();
    [Parameter] public EventCallback<Application> applicationUpdateSubmited { get; set; }



    private DateTime? _date
    {
        get
        {
            if (application.year == 0)
            {
                return DateTime.Today;
            }
            else return new DateTime(application.year, application.month, application.day);
        }
        set
        {
            if (value is null) return;
            application.year = value.Value.Year;
            application.month = value.Value.Month;
            application.day = value.Value.Day;
        }
    }

    private async Task UpdateApplicationData()
    {
        await applicationUpdateSubmited.InvokeAsync(application);
    }

    private void AddressChanged(Address address)
    {
        application.address = address;
    }

}
