@using BlazorApp.DA;
@using BlazorApp.Enums;
@using BlazorBootstrap;
@using Microsoft.EntityFrameworkCore

@inject IWebHostEnvironment enviroment;

@inject IDaoBase<Application, ApplicationModel> applicationsDataAccess;
@inject IDaoBase<Address, AddressModel> addressesDataAccess;
@inject IDaoBase<Coefficient, CoefficientModel> coefficientsDataAccess;
@inject IDaoBase<Brigade, BrigadeModel> brigadesDataAccess;

<Grid TItem="Application" Class="table table-hover table-bordered" Data="applications" AllowDetailView="true"
    AllowFiltering="true" AllowPaging="true" PageSize="100" AllowSorting="true" OnRowClick="OnRowClick"
    AllowRowClick="true">
    <GridColumns>
        @*Id column with set of interactive components*@
        <GridColumn TItem="Application" HeaderText="Id" PropertyName="id">
            <div>
                @context.id
            </div>
            @*Interactive components in Id section ↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓↓*@
            <CheckBoxInputComponent label="Важлива заявка" applicationId="@context.id" propertyName="hot"
                propertyValue="@((bool)context["hot"])" />

            <TimeframeApplicationComponent applicationId="@context.id" firstPart="@context.firstPart"
                secondPart="@context.secondPart" timeRangeIsSet="@context.timeRangeIsSet" startHour="@context.startHour"
                endHour="@context.endHour">
            </TimeframeApplicationComponent>
        </GridColumn>
        @*↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑↑*@

        @*Column with name of the district *@
        <GridColumn TItem="Application" HeaderText="District" PropertyName="districtName"
            SortKeySelector="item => item.districtName">
            @context.districtName
        </GridColumn>

        @*Column name with name of the street*@
        <GridColumn TItem="Application" HeaderText="Street" PropertyName="streetName"
            SortKeySelector="item => item.streetName">
            @(context.streetName + " " + context.building);
        </GridColumn>

        <GridColumn TItem="Application" HeaderText="Stretched" PropertyName="stretchingStatus"
            SortKeySelector="item => item.stretchingStatus">
            @context.stretchingStatus
        </GridColumn>



        @*Column for date*@
        <GridColumn TItem="Application" HeaderText="Date">
            <span>@context.year.@context.month.@context.day</span>
        </GridColumn>
    </GridColumns>

    @*Column for comments section*@
    <GridDetailView TItem="Application">
        <div class="row">
            <div class="col">
                <CommentComponent operatorComment="ffff" masterComment="ccccc" />
            </div>
        </div>

    </GridDetailView>

    <GridColumn TItem="Application" HeaderText="Priority">
        <span>@context.priority</span>
    </GridColumn>
</Grid>


@code {

    [Parameter]
    public EventCallback applicationWasChosen { get; set; }

    [Parameter] public List<int> brigadeApplicationIds { get; set; } = new List<int>();
    [Parameter] public int timeSlot { get; set; } = 0;

    List<Application> applications = new List<Application>();

    private async Task<List<Application>> CalculatePriorty(List<Application> applications)
    {
        Dictionary<string, double> priorities = (await coefficientsDataAccess.GetAll()).ToDictionary(c => c.parameter, c =>
        c.coefficient);
        List<Address> addresses = (await addressesDataAccess.GetAll()).ToList();

        for (int i = 0; i < applications.Count; i++)
        {
            if (true)
            {
                applications[i].SetupApplicationPriorityLevel(priorities, new List<Application>());
            }
            else
            if (i == 0)
            {
                applications[i].SetupApplicationPriorityLevel(priorities, new List<Application> { applications[i + 1] });
            }
            else if (i == applications.Count - 1)
            {
                applications[i].SetupApplicationPriorityLevel(priorities, new List<Application> { applications[i - 1] });
            }
            else
            {
                applications[i].SetupApplicationPriorityLevel(priorities, new List<Application> { applications[i - 1], applications[i +
1] });
            }
        }

        applications.Sort((a, b) => b.priority.CompareTo(a.priority));

        return applications;
    }

    protected override async void OnParametersSet()
    {
        applications = (await applicationsDataAccess.GetAll()).Where(a => a.ignored == false).ToList();

        applications = await CalculatePriorty(applications);

    }
    public void Redraw()
    {
        StateHasChanged();
    }

    public async Task OnRowClick(GridRowEventArgs<Application> application)
    {
        await applicationWasChosen.InvokeAsync(application.Item.id);
    }

}
