@* @using System.ComponentModel.DataAnnotations;
@using BlazorApp.DA;
@using BlazorApp.Components.Pages.SchedulePage
@using BlazorBootstrap

@inject IDaoBase<Brigade, BrigadeModel> brigadesDataAccess;
@inject IDaoBase<Application, ApplicationModel> applicationsDataAccess;
@inject ILogger<BrigadeView> _logger;

@inject IJSRuntime Js

<ApplicationsRatedListModal @ref="applicationsRatedList"/>

<Card>
    <CardTitle style="display: flex; flex-direction: row; align-items:center;">
        <Button @onclick="DeleteBrigade">
            <Icon Name="IconName.XCircleFill" />
        </Button>
        Бригада
        <NumberInput style="width: 15%" TValue="int" Value="brigade.brigadeNumber"
            ValueExpression="() => brigade.brigadeNumber" ValueChanged="(value) => BrigadeNumberChanged(value)" /> 
        <Button @onclick="CopyBrigade">
            Скопировать бригаду
        </Button>

    </CardTitle>
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" @onclick="ToggleApplicationsList">Toggle
        content</Button>

    <CardBody>

        <Collapse @ref="collapseApplicationsList">


            <Grid @ref="brigadeApplicationsGrid" TItem="ApplicationScheduled" AllowRowClick="true"
                Class="table table-hover" DataProvider="BrigadeApplicationsProvider" OnRowClick="OnRowClick"
                Responsive="true">


                <GridColumn TItem="ApplicationScheduled" HeaderText=" - ">
                    <ApplicationSwapButton application="@context" AddApplicationToSwap="AddSwapApplication"
                        SwapButtonsWasPressed="RowButtonWasPressed" />
                </GridColumn>

                <GridColumn TItem="ApplicationScheduled" HeaderText=" - ">
                    <ApplicationDeleteButton brigadeId="@brigade.id" applicationId="@context.id"
                        UpdateSchedule="RedrawBrigadeTable" DeleteButtonWasPressed="RowButtonWasPressed" />
                </GridColumn>
                <GridColumn TItem="ApplicationScheduled" HeaderText="Время">
                    @(context.applicationScheduledTime + 10) - @(context.applicationScheduledTime + 11)
                </GridColumn>
                <GridColumn TItem="ApplicationScheduled" HeaderText="ID"> @if (@context.id != 0)
                    {
                        @context.id
                    }
                    else { }
                </GridColumn>
                <GridColumn TItem="ApplicationScheduled" HeaderText="Район">@if (@context.id != 0)
                    {
                        @context.districtName
                    }
                    else { }
                </GridColumn>
                <GridColumn TItem="ApplicationScheduled" HeaderText="Улица"> @if (@context.id != 0)
                    {
                        @context.streetName
                    }
                    else
                    {
                        <span> РЕЗЕРВ</span>
                    }
                </GridColumn>
                <GridColumn TItem="ApplicationScheduled" HeaderText="Дом"> @if (@context.id != 0)
                    {
                        @context.building
                    }
                    else { } </GridColumn>
                </Grid>
            </Collapse>
        </CardBody>


    </Card>

    @code {
    [Parameter] public Brigade brigade { get; set; } = new();
    [Parameter] public EventCallback UpdateBrigadeLists { get; set; }
    [Parameter] public EventCallback<ApplicationScheduled> AddApplicationToSwap { get; set; }
    [Parameter] public EventCallback RefreshMap { get; set; }

    private Grid<ApplicationScheduled> brigadeApplicationsGrid = default!;

    private ApplicationsRatedListModal applicationsRatedList = default!;
    

    private Collapse collapseApplicationsList = default!;

    private async Task ToggleApplicationsList() => await collapseApplicationsList.ToggleAsync();

    override protected async Task OnParametersSetAsync()
    {
        await brigade.PopulateApplicationList(applicationsDataAccess);
    }

    private async Task BrigadeNumberChanged(int newBrigadeNumber)
    {
        _logger.LogInformation($"Brigade number of brigade with id: {brigade.id} changed to {newBrigadeNumber}");

        brigade.brigadeNumber = newBrigadeNumber;
        await brigadesDataAccess.Update(brigade, brigade.id);

    }

    private async Task DeleteBrigade()
    {
        _logger.LogInformation($"Deleting brigade with id: {brigade.id}");

        await brigadesDataAccess.Delete(brigade.id);
        await UpdateBrigadeLists.InvokeAsync();
    }

    int chosenId = 0;
    public async Task ApplicationWasChosen(int applicationId)
    {
        _logger.LogInformation($"Application with id: {applicationId} was chosen");

        chosenId = applicationId;

        await applicationsRatedList.HideAsync();


        Brigade brigadeNew = await brigadesDataAccess.GetById(brigade.id);
        //brigadeNew.applicationsIds[chosenTime] = chosenId;
        await brigadesDataAccess.Update(brigadeNew, brigade.id);

        @* brigade.applications[chosenTime] = applicationsDataAccess.GetById(applicationId).Result; 

        await RedrawBrigadeTable();
    }

    int chosenTime = 0;
    public async Task ApplicationButtonIsPressed(int applicationTime)
    {
        _logger.LogInformation($"Application button was pressed");

        chosenTime = applicationTime;

        //await applicationsRatedList.ShowAsync(brigade.applicationsIds, applicationTime);
        applicationsRatedList.applicationWasChosen = EventCallback.Factory.Create<int>(this, ApplicationWasChosen);

        return;
    }

    public async Task AddSwapApplication(ApplicationScheduled application)
    {
        _logger.LogInformation($"Adding application to swap");

        await AddApplicationToSwap.InvokeAsync(application);
    }

    private async Task<GridDataProviderResult<ApplicationScheduled>> BrigadeApplicationsProvider(
    GridDataProviderRequest<ApplicationScheduled> request)
    {   
        _logger.LogInformation("Providing applications for brigade");

        await brigade.PopulateApplicationList(applicationsDataAccess);

        @* List<ApplicationScheduled> applications = brigade.applications.Select(application => new
        ApplicationScheduled(application, brigade.id, 0)).ToList();
        for (int i = 0; i < applications.Count; i++)
        {
            applications[i].applicationScheduledTime = i;
        } 


        return await Task.FromResult(new GridDataProviderResult<ApplicationScheduled>
            {
                TotalCount = 0,
                Data = new List<ApplicationScheduled>()
            }); 

    }

    private bool wasRowButtonPressed = false;
    public async Task RowButtonWasPressed()
    {
        await RefreshMap.InvokeAsync();
        wasRowButtonPressed = true;
        await Task.Delay(500);
        wasRowButtonPressed = false;

    }

    private async Task OnRowClick(GridRowEventArgs<ApplicationScheduled> args)
    {
        _logger.LogInformation("Row was clicked");

        if (!wasRowButtonPressed)
        {
            await ApplicationButtonIsPressed(args.Item.applicationScheduledTime);
        }
    }

    public async Task RedrawBrigadeTable()
    {
        _logger.LogInformation("Redrawing brigade table");

        await brigadeApplicationsGrid.RefreshDataAsync();
        await RefreshMap.InvokeAsync();
        StateHasChanged();
    }


    public async Task CopyBrigade()
    {
        _logger.LogInformation("Copying brigade to clipboard");

        string brigadeInChatFormat = String.Empty;

        brigadeInChatFormat += "Бригада " + brigade.brigadeNumber + "\n";
        for (int i = 0; i < brigade.applications.Count; i++)
        {
            if(brigade.applications[i] is null)
            {
                brigadeInChatFormat += 
                (i + 10).ToString() + " - " + (i + 11).ToString() + " " + 
                "----- Резерв -----\n";
            } else 
            {
                brigadeInChatFormat += 
                    (i + 10).ToString() + " - " + (i + 11).ToString() + " " + 
                    brigade.applications[i].id + " " + brigade.applications[i].streetName + " " + brigade.applications[i].building + "\n";

            }

        }
        
        await Js.InvokeVoidAsync("CopyToClipboard", brigadeInChatFormat);
    }
} *@
